body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

#header {
    text-align: center;
    padding: 20px;
}

#content {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden; /* Verhindert überlaufenden Inhalt */
}

.button-container {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}

.header-label, .header-description {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 500px; /* Maximalhöhe für Desktop-Bildschirme */
    overflow-y: auto; /* Ermöglicht vertikales Scrollen, wenn notwendig */
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-right: 20px;
}

.description {
    flex-grow: 1;
    text-align: right;
}

a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: #f4f4f4;
}

@media (min-width: 768px) {
    ul {
        max-height: 400px; /* Höhere Einstellung für Tablets */
    }
}

@media (min-width: 1024px) {
    ul {
        max-height: 600px; /* Höhere Einstellung für Desktop-Bildschirme */
    }
}
